body {
  margin: 0;
  background-color: #000;
  color: white;
  font-family: Arial, sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  gap: 20px;
  align-items: center;
}

/* Кнопка на YouTube */
.button {
  padding: 15px 30px;
  background-color: #1a1a1a;
  color: white;
  text-decoration: none;
  border: 2px solid #fff;
  border-radius: 8px;
  transition: 0.3s;
  font-size: 18px;
}

.button:hover {
  background-color: white;
  color: black;
}

/* Кнопка Telegram */
.circle-button {
  width: 60px;
  height: 60px;
  background-color: #000;
  border: 2px solid white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.circle-button:hover {
  background-color: #333;
  transform: scale(1.1);
}

.circle-button img {
  width: 32px;
  height: 32px;
  object-fit: contain;
  border-radius: 50%;
}
